<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime requestValidationMode="2.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="com.prontotour.www.ProntoSystem" value="http://www.prontotour.com/PSSaleWebService/ProntoSystem.asmx"/>
    <add key="com.arianpal.merchant.WebService" value="http://merchant.arianpal.com/WebService.asmx"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="noreply@SproTours.com">
        <network host="mail.SproTours.com" port="587" enableSsl="false" userName="noreply@SproTours.com" password="EmailMaster2017" defaultCredentials="false"/>
        <!--This must be false on Gmail-->
      </smtp>
    </mailSettings>
  </system.net>
</configuration>